<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485534962390-47225nbmmkgc8ug7njbmd0i4339q3jg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485534962390-47225nbmmkgc8ug7njbmd0i4339q3jg5</string>
	<key>API_KEY</key>
	<string>AIzaSyCDxrGWCWcl3wdgQ8siu3kQYEYjqdgMrDw</string>
	<key>GCM_SENDER_ID</key>
	<string>485534962390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Phakkharachate-Thananut.doFavor</string>
	<key>PROJECT_ID</key>
	<string>dofavor-cb57e</string>
	<key>STORAGE_BUCKET</key>
	<string>dofavor-cb57e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485534962390:ios:a77670b5f9ab1fd9156f77</string>
</dict>
</plist>